.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.category--container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9bb8cd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.category--container h1 {
  font-size: 30px;
  color: #555555;
}

.category--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category--form button {
  height: 32px;
  padding: 2px 10px;
  margin-top: 10px;
  border: none;
  background-color: #eee0c9;
}

.input--category {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  width: 65%;
  margin-bottom: 10px;
  padding: 4px;
}
